<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings version="1">
    <section id="plugin.video.grayjay">
        <category id="general" label="30010">
            <group id="1">
                <setting id="http_timeout" type="integer" label="30011">
                    <level>0</level>
                    <default>20</default>
                    <constraints>
                        <minimum>5</minimum>
                        <maximum>120</maximum>
                    </constraints>
                    <control type="slider" format="integer"/>
                </setting>
                <setting id="verify_signatures" type="boolean" label="30012">
                    <level>0</level>
                    <default>true</default>
                    <control type="toggle"/>
                </setting>
            </group>
        </category>
        <category id="playback" label="30016">
            <group id="1">
                <setting id="max_video_height" type="integer" label="30017">
                    <level>0</level>
                    <default>1080</default>
                    <constraints>
                        <options>
                            <option label="30020">0</option>
                            <option label="30021">480</option>
                            <option label="30022">720</option>
                            <option label="30023">1080</option>
                            <option label="30024">1440</option>
                            <option label="30025">2160</option>
                        </options>
                    </constraints>
                    <control type="list" format="integer"/>
                </setting>
                <setting id="autoplay_next" type="boolean" label="30026">
                    <level>0</level>
                    <default>true</default>
                    <control type="toggle"/>
                </setting>
                <setting id="adaptive_quality" type="boolean" label="30018">
                    <level>2</level>
                    <default>false</default>
                    <control type="toggle"/>
                </setting>
                <setting id="async_timeout" type="integer" label="30019">
                    <level>2</level>
                    <default>90</default>
                    <constraints>
                        <minimum>15</minimum>
                        <maximum>300</maximum>
                    </constraints>
                    <control type="slider" format="integer"/>
                </setting>
            </group>
            <group id="2">
                <setting id="autoload_subtitles" type="boolean" label="30030">
                    <level>0</level>
                    <default>true</default>
                    <control type="toggle"/>
                </setting>
                <setting id="preferred_subtitle_language" type="text" label="30031">
                    <level>0</level>
                    <default>en</default>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                    <control type="edit" format="string"/>
                </setting>
            </group>
        </category>
        <category id="updates" label="30013">
            <group id="1">
                <setting id="auto_update" type="boolean" label="30014">
                    <level>0</level>
                    <default>true</default>
                    <control type="toggle"/>
                </setting>
                <setting id="update_interval_hours" type="integer" label="30015">
                    <level>0</level>
                    <default>24</default>
                    <constraints>
                        <minimum>1</minimum>
                        <maximum>168</maximum>
                    </constraints>
                    <dependencies>
                        <dependency type="enable" setting="auto_update" operator="is">true</dependency>
                    </dependencies>
                    <control type="slider" format="integer"/>
                </setting>
            </group>
        </category>
    </section>
</settings>
